* {
  color: #e5e5e5;
  all: unset;
  font-size: 14px;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 500;
  transition: 200ms;
}

.notification-row {
  outline: none;
  margin: 0;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background {
  background: rgba(20, 20, 20, 1);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.45);
  border: 2px dashed #39393f;
  border-radius: 5px;
  margin: 4px;
  max-width: 340px; /* centered feel for top notifications */
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification {
  padding: 10px;
  border-radius: 16px;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification.critical {
  border: 2px solid #ef4444;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content {
  margin: 16px;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3.4em;
}

/* Action Buttons */
.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 10px;
  background-color: #1f1f1f;
  margin: 6px;
  border: 1px solid transparent;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: #3f3f46;
  border: 1px solid #a1a1aa;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: #a1a1aa;
  color: #141414;
}

/* IMAGE — squircle shape */
.image {
  margin: 10px 20px 10px 0px;
  border-radius: 22%; /* squircle */
  width: 56px;
  height: 56px;
  object-fit: cover;
}

/* Title + Body */
.summary {
  font-weight: 800;
  font-size: 1rem;
}

.body {
  font-size: 0.82rem;
  opacity: 0.9;
}

/* Close button */
.floating-notifications.background
  .notification-row
  .notification-background
  .close-button {
  margin: 6px;
  padding: 4px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid transparent;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:hover {
  background-color: #a1a1aa;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:active {
  background-color: #a1a1aa;
  color: #141414;
}

/* Progress bar */
.notification.critical progress {
  background-color: #a1a1aa;
}

.notification.low progress,
.notification.normal progress {
  background-color: #a1a1aa;
}
