@keyframes blink-warning {
  70% {
    color: white;
  }
  to {
    color: white;
    background-color: #555;
  }
}

@keyframes blink-critical {
  70% {
    color: white;
  }
  to {
    color: white;
    background-color: #333;
  }
}

/* Reset */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  color: #ccc;
}

/* Bar */
window#waybar {
  background-color: rgba(20, 20, 20, 0);
  font-family: "SF Mono";
  background-size: cover;
  font-size: 12px;
  font-weight: bold;
}

/* Modules */
#battery,
#clock,
#backlight-slider,
#cpu,
#custom-keyboard-layout,
#memory,
#backlight,
#mode,
#custom-weather,
#network,
#privacy,
#privacy,
#privacy-item,
#pulseaudio,
#temperature,
#tray,
#power-profiles-daemon,
#notification,
#idle_inhibitor,
#window,
#custom-power,
#custom-updates,
#workspaces,
#custom-media,
#custom-PBPbattery {
  padding: 0.25rem 0.75rem;
  margin: 1px 6px;

  border: 2px dashed #39393f;
  background-color: #1a1a1a;
  border-radius: 0px;
  box-shadow: 1px 1px 3px #111;
}

/* Monochrome Colors */
#clock,
#cpu,
#memory,
#window,
#custom-media,
#pulseaudio,
#temperature,
#backlight,
#power-profiles-daemon,
#custom-weather {
  color: #e0e0e0;
}

#battery.warning {
  color: #999;
}

#battery.critical {
  color: #666;
}

#custom-updates.updates-available {
  color: #e0e0e0;
  animation-name: blink-warning;
  animation-duration: 3s;
}

#custom-updates.no-updates {
  color: #666;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#cpu.warning,
#memory.warning,
#network.disconnected {
  color: #aaa;
}

#cpu.critical,
#memory.critical,
#temperature.critical {
  color: #777;
  animation-name: blink-critical;
  animation-duration: 2s;
}

#mode {
  color: #f0f0f0;
  margin-left: 5px;
  padding: 7px;
}

#workspaces {
  font-size: 12px;
  background-color: #1a1a1a;
}

#workspaces button {
  border-bottom: 3px solid transparent;
  color: #ccc;
}

#workspaces button.active {
  background-color: #1a1a1a;
}

#workspaces button.urgent {
  border-color: #999;
  color: #999;
}

#custom-power {
  font-size: 18px;
  padding-right: 1rem;
}

#custom-launcher {
  font-size: 15px;
  margin-left: 15px;
  margin-right: 10px;
  color: #eee;
}

#tray menu * {
  font-weight: bold;
  padding: 3px;
  font-size: 11.2px;
  color: #ccc;
  background-color: #1a1a1a;
}

#custom-cava {
  color: #bbb;
  font-family: "bargraph";
  font-size: 22px;
}

#backlight {
  font-size: 14px;
}

#backlight-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
  background: none;
}
#backlight-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 5px;
  background: black;
}
#backlight-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background: white;
}
